body {
    background-color: #543c3f;
    font-family: Roboto, Manrope, sans-serif;
    background-attachment: fixed;
    
    background-image: url('images/abyss.png');
  }
  

  .header {
    font-size: 30px;
    color: wheat;
  }

  .subheader {
    font-size: 16px;
    color: white;
    font-style: italic;
  }

  .body {
    font-size: 16px;
    color: #fff;
  }

  .section {
    font-size: 24px;
    font-weight: bold;
  }


  .small {
    font-size: 12px;
    font-style: italic;
    color: #aaa
  }

  .center {
    text-align: center;
  }

  .italic {
    font-style: italic;
  }

  .item { 
    outline: 1px solid white;
    width: 20%;
    float: right;
    margin: 10px;
    border:1px solid white;

}

.item30 { /* 30% of the screen */
  outline: 1px solid white;
  width: 30%;
  float: right;
  margin: 10px;
  border:1px solid white;

}

  .tableheader {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

  table,th,td {
  border:1px solid white;
  padding: 5px;
}

.invisible_fill {
  background-color: #361a1d;
}

  .box {
  background-color: #361a1d;
  width: 80%;
  padding: 20px 50px 20px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.75;
  border-radius: 15px;
  }

.m0 {
    color: #000
}
.m1 {
    color: #00a
}
.m2 {
    color: #0a0
}
.m3 {
    color: #0aa
}
.m4 {
    color: #a00
}
.m5 {
    color: #a0a
}
.m6 {
    color: #fa0
}
.m7 {
    color: #aaa
}
.m8 {
    color: #555
}
.m9 {
    color: #55f
}
.ma {
    color: #5f5
}
.mb {
    color: #5ff
}
.mc {
    color: #f55
}
.md {
    color: #f5f
}
.me {
    color: #ff5
}
.mf {
    color: #fff
}

a:link {
  color: #5abbb7;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #4b9b98;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #c2edee;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ddf0f0;
  background-color: transparent;
  text-decoration: underline;
}

@font-face {
  font-family: Roboto;
  src: url('./font/Roboto-Regular.ttf');
}

@font-face {
  font-family: Material;
  src: url('./font/Material.ttf');
}


:root {
  --mc0: #000;
  --mc1: #00a;
  --mc2: #0a0;
  --mc3: #0aa;
  --mc4: #a00;
  --mc5: #a0a;
  --mc6: #fa0;
  --mc7: #aaa;
  --mc8: #555;
  --mc9: #55f;
  --mca: #5f5;
  --mcb: #5ff;
  --mcc: #f55;
  --mcd: #f5f;
  --mce: #ff5;
  --mcf: #fff;
}

.anchor {
  position: absolute;
  transform: translateY(-50vh);
}
/*td img {display: block;}

